.AbilityScores {
    font-family: "Times New Roman", Times, serif;
    display: inline;
    text-align: left;
}

table {
    margin-top: 50px;
    text-align: left;
}
th, td {
    text-align: center;
    padding-left: 10px;
    width: 100px;
}
.hit-point-box {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    right: 0;
    margin-top: -450px;
    margin-right: 1100px;
    display: inline-block; 
    position: absolute;
  }
  
  .Hit_Points {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .button_column {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    justify-content: center;
  }
  
  .hit-point-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
  }

  .armor-class-main {
    border: 5px solid #333;
    padding: 10px;
    border-radius: 12px;
    border-style: double;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    right: 0;
    margin-top: -450px;
    margin-right: 1000px;
    display: inline-block; 
    position: absolute;
  }

   .tab {
    border: 5px solid #333;
    padding: 10px;
    border-radius: 12px;
    border-style: double;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    right: 0;
    margin-top: -250px;
    margin-right: 1050px;
    display: inline-block; 
    position: absolute;
  }